:root {
  --color-black: #2b2b2b;
  --color-white: #f5f5f5;
  --color-pink: rgba(255, 193, 193, 0.47);
  --color-glasses: #3a4b45;
  --color-bubble: rgba(184, 247, 255, 0.714);
  --color-ice: #cbf9ff;
  --color-ice-border: #55ebff;
  --color-bg: #ffebd3;

  --transition-60: all 0.06s ease-in;
  --transition-70: all 0.07s ease-in;
  --transition-80: all 0.08s ease-in;
}

body {
  background-color: var(--color-bg);
  box-sizing: border-box;
}

.polarbear {
  position: relative;
  width: 303px;
  height: 409px;
  margin: 160px auto;
}

.snoring-bubble {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 126px;
  left: 50%;
  border-radius: 0 50% 50%;
  background-color: var(--color-bubble);
  box-shadow: inset 0 0 12px 0 var(--color-ice-border);
  z-index: 4;
  animation: snoring 1s infinite alternate;
}

@keyframes snoring {
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  to {
    width: 80px;
    height: 80px;
    opacity: 1;
  }
}

.snoring-bubble:hover {
  cursor: pointer;
  animation: none;
  opacity: 0;
}

[class|="bear"] {
  border: 6px solid var(--color-black);
  background-color: var(--color-white);
}

.polarbear .bear-ear {
  position: absolute;
  width: 73px;
  height: 68px;
  border-radius: 50%;
  top: 14px;
  transition: var(--transition-60);
}

.bear-ear.left {
  left: 9px;
}

.bear-ear.right {
  right: 9px;
}

.snoring-bubble:hover ~ .bear-ear {
  transform: translateY(-10px);
}

.polarbear .bear-face {
  position: absolute;
  width: 282px;
  height: 238px;
  margin: auto;
  border-radius: 145px 145px 115px 115px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.bear-face .eye {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: var(--color-black);
  border-radius: 6px;
  top: 90px;
  transition: var(--transition-60);
}

.eye.left {
  left: 78px;
}

.eye.right {
  right: 78px;
}

.snoring-bubble:hover ~ .bear-face .eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.snoring-bubble:hover ~ .bear-face .eye.left {
  transform: translateX(18px);
}

.snoring-bubble:hover ~ .bear-face .eye.right {
  transform: translateX(-18px);
}

.bear-face .nose {
  position: absolute;
  width: 16px;
  height: 12px;
  background-color: var(--color-black);
  border-radius: 50%;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.bear-face .mouth {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: 3px solid var(--color-black);
  border-radius: 20px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: 98px;
}

.mouth.left {
  left: 50%;
  transform: translateX(-90%) rotate(45deg);
}

.mouth.right {
  right: 50%;
  transform: translateX(90%) rotate(135deg);
}

.bear-face .dimple {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: var(--color-pink);
  border-radius: 50%;
  top: 102px;
}

.dimple.left {
  left: 20%;
  transform: translateX(-50%);
}

.dimple.right {
  right: 20%;
  transform: translateX(50%);
}

.glasses {
  position: absolute;
}

.glasses.left,
.glasses.right {
  width: 82px;
  height: 76px;
  background-color: transparent;
  border: 4px solid var(--color-glasses);
  border-radius: 20px 20px 45px 45px;
  top: 65px;
}

.glasses.left {
  left: 43px;
}

.glasses.right {
  right: 43px;
}

.glasses.frame-bridge {
  width: 20px;
  border: 2px solid var(--color-glasses);
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
}

.glasses.frame-left,
.glasses.frame-right {
  width: 32px;
  border: 2px solid var(--color-glasses);
  top: 82px;
}

.glasses.frame-left {
  left: 10px;
  transform: rotate(10deg);
}

.glasses.frame-right {
  right: 10px;
  transform: rotate(-10deg);
}

.bear-body {
  position: absolute;
  width: 201px;
  height: 142px;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 120px 120px 50px 50px;
  z-index: 1;
}

.bear-arm {
  position: absolute;
  width: 72px;
  height: 98px;
  border-radius: 50px;
  top: 238px;
  transition: var(--transition-60);
}

.bear-arm.left {
  left: 10px;
  transform: rotate(20deg);
}

.bear-arm.right {
  right: 10px;
  transform: rotate(-20deg);
}

.snoring-bubble:hover ~ .bear-arm.left {
  transform: translate(-4px, -4px) rotate(60deg);
}

.snoring-bubble:hover ~ .bear-arm.right {
  transform: translate(-4px, -4px) rotate(-60deg);
}

.bear-leg {
  position: absolute;
  width: 92px;
  height: 112px;
  border-radius: 50px;
  top: 290px;
  z-index: 2;
}

.bear-leg.left {
  left: 20%;
  transform: translateX(-20%);
}

.bear-leg.right {
  right: 20%;
  transform: translateX(20%);
}

.ice {
  position: relative;
  width: 416px;
  margin: auto;
  bottom: 200px;
  z-index: -1;
}

.ice > div {
  position: absolute;
  width: 416px;
  height: 78px;
  background-color: var(--color-ice);
}

.ice .top {
  top: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 12px 0 var(--color-ice-border);
  z-index: 3;
}

.ice .middle {
  top: 38px;
  z-index: 2;
}

.ice .bottom {
  top: 78px;
  border-radius: 50%;
  z-index: 1;
}
